USE [PIM_IV]
GO
/****** Object:  Table [dbo].[CHAMADO]    Script Date: 11/13/25 9:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMADO](
	[ChamadoID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Prioridade] [nvarchar](50) NOT NULL,
	[DataAbertura] [datetime] NOT NULL,
	[DataFechamento] [datetime] NULL,
	[SolicitanteID] [int] NOT NULL,
	[ResponsavelID] [int] NULL,
	[DepartamentoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChamadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CRUD]    Script Date: 11/13/25 9:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRUD](
	[CRUDID] [int] IDENTITY(1,1) NOT NULL,
	[NomePerfil] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CRUDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 11/13/25 9:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[NomeCategoria] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAQ]    Script Date: 11/13/25 9:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQ](
	[FaqID] [int] IDENTITY(1,1) NOT NULL,
	[Pergunta] [nvarchar](255) NOT NULL,
	[Resposta] [nvarchar](max) NOT NULL,
	[FonteChamadoID] [int] NULL,
	[DataCriacao] [datetime] NOT NULL,
	[Aprovado] [bit] NULL,
	[Visualizacoes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FaqID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORICOCHAMADO]    Script Date: 11/13/25 9:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORICOCHAMADO](
	[HistoricoID] [int] IDENTITY(1,1) NOT NULL,
	[ChamadoID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Mensagem] [nvarchar](max) NOT NULL,
	[DataRegistro] [datetime] NOT NULL,
	[IsSolution] [bit] NOT NULL,
	[SolutionPendingApproval] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoricoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 11/13/25 9:38:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[SenhaHash] [nvarchar](255) NOT NULL,
	[Telefone] [nvarchar](20) NULL,
	[Ativo] [bit] NOT NULL,
	[CRUDID] [int] NOT NULL,
	[DepartamentoID] [int] NULL,
	[AceitouTermos] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHAMADO] ADD  DEFAULT ('Aberto') FOR [Status]
GO
ALTER TABLE [dbo].[CHAMADO] ADD  DEFAULT ('Média') FOR [Prioridade]
GO
ALTER TABLE [dbo].[CHAMADO] ADD  DEFAULT (getdate()) FOR [DataAbertura]
GO
ALTER TABLE [dbo].[FAQ] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[FAQ] ADD  DEFAULT ((1)) FOR [Aprovado]
GO
ALTER TABLE [dbo].[FAQ] ADD  DEFAULT ((0)) FOR [Visualizacoes]
GO
ALTER TABLE [dbo].[HISTORICOCHAMADO] ADD  DEFAULT (getdate()) FOR [DataRegistro]
GO
ALTER TABLE [dbo].[HISTORICOCHAMADO] ADD  DEFAULT ((0)) FOR [IsSolution]
GO
ALTER TABLE [dbo].[HISTORICOCHAMADO] ADD  DEFAULT ((0)) FOR [SolutionPendingApproval]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [AceitouTermos]
GO
ALTER TABLE [dbo].[CHAMADO]  WITH CHECK ADD FOREIGN KEY([DepartamentoID])
REFERENCES [dbo].[DEPARTAMENTO] ([CategoriaID])
GO
ALTER TABLE [dbo].[CHAMADO]  WITH CHECK ADD FOREIGN KEY([ResponsavelID])
REFERENCES [dbo].[USUARIO] ([UsuarioID])
GO
ALTER TABLE [dbo].[CHAMADO]  WITH CHECK ADD FOREIGN KEY([SolicitanteID])
REFERENCES [dbo].[USUARIO] ([UsuarioID])
GO
ALTER TABLE [dbo].[FAQ]  WITH CHECK ADD FOREIGN KEY([FonteChamadoID])
REFERENCES [dbo].[CHAMADO] ([ChamadoID])
GO
ALTER TABLE [dbo].[HISTORICOCHAMADO]  WITH CHECK ADD FOREIGN KEY([ChamadoID])
REFERENCES [dbo].[CHAMADO] ([ChamadoID])
GO
ALTER TABLE [dbo].[HISTORICOCHAMADO]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[USUARIO] ([UsuarioID])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([CRUDID])
REFERENCES [dbo].[CRUD] ([CRUDID])
GO
